$primary-background-colour: #D0D3CE;
$secondary-background-colour: #f0f0ee;
$thirtiary-background-colour: #86831b;
$winter-term-colour: #8ed4b9;
$summer-term-colour: #c0504a;
$fall-term-colour: #4fe665;
$courses-colour: #9b71ca;
$courses-border-colour: #2f8866;
$shadow-colour: #73837d;
$button-colour: #2f8866;
$button-colour-darker: #25674e;
$button-colour-lighter: #8ed4b9;

$popup-z-index: 5;
$error-z-index: 10;