@import "mixins";
@import "variables";



.dashboard {
    margin-top: 1rem;
    min-height: 13rem;
    height: fit-content;
    text-align: center;

    div {
        display: inline;
        
        h2 {
            // align-content: center;
            display: inline;
        }

        button {
            float: right;
            background-color: $button-colour;
            color: white;
            padding: 0.25rem 1rem;
            border: 2px solid $button-colour-darker;
            border-radius: 3px;
            cursor: pointer;
            transition: .75s;
        
            &:hover {
                background-color: $button-colour-lighter;
                color: black;
                
            }
        }
    }
    

    .courses-list {
        margin-top: 1rem;
        display: grid;
        gap: .25rem;
        grid-template-columns: repeat(7, 1fr);
    }
}
