@import "mixins";
@import "variables";


.error-wrapper {
    position: fixed;
    left: 50%;
    top: 20rem;
    transform: translate(-50%, -50%);
    z-index: $error-z-index;
    width: 450px;
    
    .error-message {

        @include popupWindowFrame();

        .error-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // column-gap: 2rem;
            row-gap: 1rem;
            font-size: small;
            align-items: center;
    
            p {
                text-align: center;
                grid-column: span 3;
            }
    
            input {
                margin-top: 2rem;
                width: 140px;
                grid-column: 2 / 2;
            }
            
        }
    }
}